<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %date [%thread] %logger{36} - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.transaction" level="WARN" />

    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <logger name="org.springframework.web.servlet.mvc" level="WARN" />
    
    <logger name="org.springframework.core.io.support" level="INFO" />

    <logger name="com.spring.study.generic" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
